/* .Container {
  animation: showUp1 0.6s infinite;
  animation-timing-function: ease;
  position: relative;
}
@keyframes showUp1 {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 10px;
    left: -20px;
  }
  50% {
    top: 20px;
    left: 5px;
  }
  75% {
    top: 10px;
    left: 20px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
} */
